<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>21136506264-li12tm0lgrdql1utmigb2veshk5iofj6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.21136506264-li12tm0lgrdql1utmigb2veshk5iofj6</string>
	<key>API_KEY</key>
	<string>AIzaSyBALj-7P1AgLRKXiNNgADt40UhG0Ro1IWM</string>
	<key>GCM_SENDER_ID</key>
	<string>21136506264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.honeymake</string>
	<key>PROJECT_ID</key>
	<string>honeymake-db129</string>
	<key>STORAGE_BUCKET</key>
	<string>honeymake-db129.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:21136506264:ios:6eb546a2d4fa551b35bfed</string>
</dict>
</plist>